# Configuración de Supabase (Copiar en Configuración de Entorno de Vercel)
NEXT_PUBLIC_SUPABASE_URL=https://mjxywapawhtcrdenslma.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qeHl3YXBhd2h0Y3JkZW5zbG1hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1NjkxMzIsImV4cCI6MjEwNjE0NTEzMn0.zsAjbOkIGUA4i7EPgS_cuABoHGRMsqSbHh-jts5ce1Q

# Seguridad y Autenticación del Administrador (Server-Side)
ADMIN_USER=admin
ADMIN_PASSWORD=TuContraseñaSegura2026!#
ADMIN_AUTH_SECRET=genera_un_string_aleatorio_seguro_para_firmar_cookies_jwt_32_chars
